html, body {
  background-color: #000 !important;
  font-family: "Liberation Mono";
  color: #FFF !important;
  margin: 0;
  padding: 0;
}


/* Fonts: */

@font-face {
  font-family: AlteDIN;
  src: url("../fonts/din1451alt.ttf");
}


/* General purpose classes: */

.vl {
  border-left: 1px solid #b3b3b3;
  height: 2em;
}
.imgFlipHorz {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.imgFlipVert {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.imgRot180 {
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.fixedRight {
  right: 0px;
}
.fixedTop {
  top: 0px;
}

/* Navbar stuff: */

#navbar {
  width: 100%;
  height: 4em !important;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 999;
}
#navList {
  margin: 0;
  padding: 0;
  height: 4em;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#navList li {
  font-family: AlteDIN, "Bahnschrift", Arial, sans-serif;
  margin: 0 4em;
  font-size: 1.25em;
}
.navbarOrnament {
  position: fixed;
  height: .8em;
  margin: 0.4em;
}
.navButton {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background-color: #000;
  transition: 150ms;
  height: 100%;
  font-size: 1em;
  padding: 0;
  border: none;
  cursor: pointer;
}
.navButton:hover {
  background-color: #FFF;
  text-decoration: initial;
  color: #121417 !important;
  transition: 200ms;
}
.navButton:active {
  background-color: #121417;
  color: #FFF !important;
}
.navActive {
  background-color: #121417;
}
@media (max-width: 1038px) {
  #navList li {
    margin: 0 3em;
    font-size: 1em;
  }
}


/* Page contents: */

main {
  height: calc(100vh - 5.5em) !important;
  display: flex;
  flex-direction: row;
}
#mainSideLeft {
  background-image: linear-gradient(to left, #000, #121417);
  width: 10%;
  transition: 150ms;
}
#mainSideRight {
  background-image: linear-gradient(to right, #000, #121417);
  width: 10%;
  transition: 150ms;
}
#mainBody {
  width: 100%;
  background-color: #121417 !important;
}
#mainBody hr {
  width: 50%;
  border-color:#414245;
}
.mainBodySection {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1038px) {
  #mainSideLeft {
    width: 5%;
  }
  #mainSideRight {
    width: 5%;
  }
}
@media (max-width: 800px) {
  #mainSideLeft {
    width: 0%;
  }
  #mainSideRight {
    width: 0%;
  }
}


/* About section: */

#aboutSection {
  /* Probably redundant but I'll leave this here for now. */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#aboutSection h1 {
  margin: 1em auto 0.5em auto;
}
#aboutSection h2 {
  margin: 0 auto 0.5em auto;
  font-weight: normal;
}
#HxdceLogo {
  width: 8em;
  margin: 0 auto;
}
.professionFirstBreak {
  display: none;
}
.professionSecondBreak {
  display: none;
}
@media (max-width: 800px) {
  .professionFirstBreak {
    display: block;
  }
}
@media (max-width: 1200px) {
  .professionSecondBreak {
    display: block;
  }
}


/* Info section: */

#infoSection h1 {
  font-weight: normal;
}
.infoSectionSubsection {
  padding: 2em;
}
#skillsGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0;
  color: #BBB;
  width: 45%;
  margin: 0 auto;
}
#skillsGrid div {
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
}
#softwareProficiencySection {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
}
#softwareProficiencySection div {
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #BBB;
}
.sPEntry {
  display: flex;
  flex-direction: row;
}
.sPEntry img {
  width: 2em;
}
.sPEntry p {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Footer: */

#footer {
  width: 100%;
  background-color: #000;
  height: 1.5em !important;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footerElementFlexVert {
  height: 1.5em !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footerElementFlexHorz {
  height: 1.5em !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#footerYearVersionText {
  font-size: .8em;
  margin: 0 0.4em;
  padding: 0;
  color: #ececec;
}
#footerHekusaSignature {
  height: .8em;
  margin: 0 0.4em;
}
.footerOrnament {
  height: .8em;
  margin: 0 0.4em;
}