html, body {
  background-color: #000 !important;
  font-family: "Liberation Mono";
  color: #FFF !important;
  margin: 0;
  padding: 0;
}


/* Fonts: */

@font-face {
  font-family: AlteDIN;
  src: url("../fonts/din1451alt.ttf");
}


/* General purpose classes: */

.imgFlipHorz {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.imgFlipVert {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.imgRot180 {
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.fixedRight {
  right: 0px;
}
.fixedTop {
  top: 0px;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #000;
  
}
::-webkit-scrollbar-thumb {
  background-color: #414245;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #67686a;
}


/* Navbar stuff: */

#navbar {
  width: 100%;
  height: 4em !important;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 999;
}
.navVL {
  border-left: 1px solid #b3b3b3;
  height: 1.5em;
}
#navList {
  margin: 0;
  padding: 0;
  height: 4em;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#navList li {
  font-family: AlteDIN, "Bahnschrift", Arial, sans-serif;
  margin: 0 3em;
  font-size: 1.5em;
}
.navbarOrnament {
  position: fixed;
  height: .8em;
  margin: 0.4em;
}
.navButton {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background-color: #000;
  transition: 150ms;
  height: 100%;
  font-size: 1em;
  padding: 0;
  border: none;
  cursor: pointer;
}
.navButton:hover {
  background-color: #FFF;
  text-decoration: initial;
  color: #121417 !important;
  transition: 200ms;
}
.navButton:active {
  background-color: #121417;
  color: #FFF !important;
}
.navActive {
  background-color: #121417;
}
@media (max-width: 1038px) {
  #navList li {
    margin: 0 3em;
    font-size: 1em;
  }
}
@media (max-width: 640px) {
  .navbarOrnament {
    visibility: hidden;
  }
  #navList li {
    margin: 0;
    width: calc(25vw - 1px);
  }
}


/* Page contents: */

main {
  height: calc(100vh - 5.5em) !important;
  display: flex;
  flex-direction: row;
}
#mainSideLeft {
  background-image: linear-gradient(to left, #000, #121417);
  width: 10%;
  transition: 150ms;
}
#mainSideRight {
  background-image: linear-gradient(to right, #000, #121417);
  width: 10%;
  transition: 150ms;
}
#mainBody {
  width: 100%;
  height: 100%;
  background-color: #121417 !important;
}
#mainBody hr {
  width: 50%;
  border-color:#414245;
}
.mainBodySection {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  animation: bodyFadeInAnim ease-in-out 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes bodyFadeInAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1038px) {
  #mainSideLeft {
    width: 5%;
  }
  #mainSideRight {
    width: 5%;
  }
}
@media (max-width: 800px) {
  #mainSideLeft {
    width: 0%;
  }
  #mainSideRight {
    width: 0%;
  }
}


/* "JavaScript didn't load or encountered an error" section: */

#noJSSection {
  width: 85%;
}


/* About section: */

#aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#aboutSection h1 {
  margin: 1em auto 0.5em auto;
}
#aboutSection h2 {
  margin: 0 auto 0.5em auto;
  font-weight: normal;
}
#HxdceLogo {
  width: 8em;
  margin: 0 auto;
}
.professionFirstBreak {
  display: none;
}
.professionSecondBreak {
  display: none;
}
@media (max-width: 800px) {
  .professionFirstBreak {
    display: block;
  }
}
@media (max-width: 1200px) {
  .professionSecondBreak {
    display: block;
  }
}


/* Work section: */

#workSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#workSection a {
  color: #00c7fd;
  transition: 100ms;
}
#workSection a:hover {
  color: #FFF;
}
#workNavList {
  background-color: #000;
  list-style: none;
  height: 3em;
  width: auto;
  margin: 0.5em auto 0.25em auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#workNavHR {
  margin: 0.5em auto;
  padding: 0;
}
#workNavList li {
  font-family: AlteDIN, "Bahnschrift", Arial, sans-serif;
  font-size: 1em;
  margin: 0 1.33em;
}
.workNavListButton {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background-color: #000;
  transition: 150ms;
  height: 100%;
  font-size: 1.25em;
  font-weight: lighter;
  padding: 0;
  width: auto;
  border: none;
  cursor: pointer;  
}
.workNavBR {
  display: none;
}
.workNavVL {
  border-left: 1px solid #b3b3b3;
  height: 0.75em;
}
.workNavListButton:hover {
  background-color: #FFF;
  text-decoration: initial;
  color: #121417 !important;
  transition: 200ms;
  
}
.workNavListButton:active {
  background-color: #121417;
  color: #FFF !important;
}
.workNavActive {
  background-color: #121417;
}
#workContents {
  margin: 0 auto;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  animation: bodyFadeInAnim ease-in-out 0.33s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#workTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
}
#workTitleSide {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#workTitleText h1 {
  font-weight: normal;
  margin: 0em;
}
#workTitleText h2 {
  font-size: 0.8em;
}
.workTitleSideButton {
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: none;
  height: 100%;
  color: #00c7fd;
  transition: 150ms;
}
.workTitleSideButton:hover {
  background-color: #414245;
  text-decoration: initial;
  color: #ff1f41 !important;
  transition: 150ms;
}
.workTitleSideButton:active {
  background: none;
}
.workTitleSideButtonDisabled {
  text-decoration: none;
  border: none;
  background: none;
  height: 100%;
  color: #414245;
  transition: 150ms;
}
#workMain {
  width: 70vw;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
#workOverviewTitle {
  margin: 0 auto;
}
#workOverviewSubtext {
  margin: 0.5em auto;
}
#workOverviewGrid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  overflow: auto;
}
.workOverviewGridImage {
  margin: 1vh;
  width: 22vh;
  height: 22vh;
  background-color: #000;
  border: 2px solid #000;
  cursor: pointer;
  transition: 150ms;
}
.workOverviewGridImage img {
  width: 22vh;
  height: 22vh;
  object-fit: cover;
}
.workOverviewGridImage:hover {
  background-color:#67686a;
  border: 2px solid #67686a;
}
#workProjectImageViewer {
  background-color: #000;
  margin: 0 auto;
  width: 95%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.workProjectImageNavButton {
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: none;
  color: #FFF;
  position: absolute;
  font-size: 2em;
  padding: 0 0.75em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 150ms;
  z-index: 999;
  text-shadow: 0px 0px 8px #121417;
}
.workProjectImageNavButton:hover {
  background-color: rgba(0, 0, 0, 0.25);
  filter: invert(1);
  color: #FFF;
}
.workProjectImageNavButton:active {
  background: none;
}
#workProjectImageNavButtonLeft {
  left: 0;
}
#workProjectImageNavButtonRight {
  right: 0;
}
#workProjectCurrImage {
  height: 45vh;
}
.workProjectImageActive {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: bodyFadeInAnim ease-in-out 0.15s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.workProjectImageInactive {
  display: none;
}
#workProjectImageDotArray {
  background-color: none;
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workProjectImageDot {
  width: 1em;
  height: 1em;
  margin: 0 0.5em;
  background-color: #FFF;
  opacity: 0.33;
  border-radius: 100%;
  box-shadow: 0px 0px 8px #121417;
  transition: 150ms;
}
#workProjectImageDotActive {
  opacity: 0.9 !important;
}
.workProjectImageHR {
  width: 95%;
}
#workProjectDescription {
  width: 90%;
  margin: 0 auto;
}
.workProjectGenericUL {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0;
  color: #BBB;
  width: 40vw;
  margin: 0 auto;
  text-align: center;
  list-style-position: inside;
}
.workProjectGenericUL li {
  margin: 0.15em auto 0.15em;
}
@media (max-width: 1250px) {
  .workProjectGenericUL {
    width: 50vw;
  }
}
@media (max-width: 1038px) {
  #workNavList li {
    font-size: 0.85em;
  }
  #workTitleSide p {
    font-size: 0.8em;
  }
  .workProjectGenericUL {
    width: 60vw;
  }
  #workProjectDescription {
    width: 95%;
  }
  #workMain {
    width: 80vw;
  }
  #workTitle {
    width: 80vw;
  }
  #workTitleText h1 {
    font-size: 1.33em;
  }
  #workTitleText h2 {
    font-size: 0.67em;
  }
}
@media (max-width: 800px) {
  #workNavList {
    width: 100%;
  }
  #workNavList li {
    font-size: 0.7em;
    margin: 0;
    width: calc(20vw - 1px);
  }
  .workNavBR {
    display: block;
  }
  #workMain {
    width: 100vw;
  }
  #workTitle {
    width: 100vw;
  }
  .workProjectGenericUL {
    grid-template-columns: auto;
  }
}


/* Info section: */

#infoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#infoSection h1 {
  font-weight: normal;
  margin-top: 0.67em;
  margin-bottom: 0.33em;
}
.infoSectionSubsection {
  padding: 0 2em 2em 2em;
  height: auto;
  overflow: auto;
}
#skillsGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0;
  color: #BBB;
  width: 45%;
  margin: 0 auto;
}
#skillsGrid div {
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
}
#softwareProficiencySection {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
}
#softwareProficiencySection div {
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #BBB;
}
.sPEntry {
  display: flex;
  flex-direction: row;
}
.sPEntry img {
  width: 2em;
}
.sPEntry p {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1400px) {
  #infoSection hr {
    width: 67%;
  }
  #skillsGrid {
    width: 67%;
  }
  #softwareProficiencySection {
    width: 67%;
  }
  .infoSectionSubsection {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 1038px) {
  #skillsGrid {
    width: 80%;
  }
  #softwareProficiencySection {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
  #skillsGrid {
    grid-template-columns: auto auto;
  }
}


/* Contact Section: */

#contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contactSection h1 {
  font-weight: normal;
}
.contactSectionSubsection {
  padding: 2em;
}
.contactRow {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
.contactRow img {
  width: 1.5em;
  height: 1.5em;
  padding: 0.5em;
  transition: 150ms;
}
#profileLink {
  text-decoration: none;
  color: #00c7fd !important;
  padding: 2em;
  transition: 150ms;
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
}
#profileLink:hover {
  background-color: #FFF;
  text-decoration: initial;
  color: #ff1f41 !important;
  transition: 150ms;
}
#profileLink:hover img {
  filter: invert(1);
  transition: 150ms;
}
@media (max-width: 1038px) {
  #contactSection hr {
    width: 67%;
  }
}
@media (max-width: 640px) {
  #profileLink {
    padding: 1em;
    font-size: 1em;
  }
  #contactSection hr {
    width: 75%;
  }
}


/* Footer: */

#footer {
  width: 100%;
  background-color: #000;
  height: 1.5em !important;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footerElementFlexVert {
  height: 1.5em !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footerElementFlexHorz {
  height: 1.5em !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#footerYearVersionText {
  font-size: .8em;
  margin: 0 0.4em;
  padding: 0;
  color: #ececec;
}
#footerHekusaSignature {
  height: .8em;
  margin: 0 0.4em;
}
.footerOrnament {
  height: .8em;
  margin: 0 0.4em;
}